html, body, #container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#container {
  display: flex;
  align-items: center;
}

#left {
  height: 100%;
  padding: 10px;
}
#left > img {
  height: 100%;
}

#right {
  border-left: 1px solid rgba(158, 158, 158, 0.33);
  padding-left: 10px;
}

#name {
  font-size: 26px;
  margin: 10px 0;
  color: #009688;
  font-family: sans-serif;
}
#version {
  font-size: 14px;
  font-family: sans-serif;
  color: #9E9E9E;
}

#status {
  font-size: 14px;
  font-family: sans-serif;
  color: #00BCD4;
  margin: 5px 0;
}
